<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: main-header('View post')"></head>
<body>
    <nav th:include="fragments/navbar :: mainNavbar"></nav>

    <!-- Content of the page -->

    <div class="container">
        <h1 th:text="${post.title}"></h1>
        <p th:text="${post.body}"></p>
        <a th:href="${'/posts/' + post.id + '/edit'}" class="btn btn-warning">Edit This Post</a>
    </div>

    <footer th:include="fragments/footer :: footer"></footer>
</body>
</html>