<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head th:replace="fragments/head :: main-header('All the ads')"></head>
<body>

<nav th:replace="fragments/navbar :: mainNavbar"></nav>

    <!-- Content of the page -->
    <div th:each="ad : ${ads}">
        <h1 th:text="${ad.title}"></h1>
        <p th:text="${ad.description}"></p>
        <img th:each="img : ${ad.images}" th:src="${img.url}" />
        Username:<p th:text="${ad.user.username}"></p>
    </div>

    <footer th:include="fragments/footer :: footer"></footer>
</body>
</html>