<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>


<div>
    <p th:text="${name}"></p>
</div>

<div class="days">
    <p th:if="${rainy == true}">
        Bring an umbrella
    </p>

    <p th:unless="${rainy == true}">
        Wear shorts
    </p>

</div>

<!--The th:each attribute repeats the tag as many items exists in the list -->
<ul th:if="${names.size() != 0}">
   <li th:each="nm : ${names}" th:text="${nm}"></li>
</ul>


</body>
</html>